footer.footer.section.section_theme_mobile(role="footer")
  .footer__container
    .footer__container-text
      p 2015-2021 © Дрожжи™
      p ООО «РВБ-Маркетинг»
      p Политика конфиденциальности
    .footer__container-img

